In [40]:
import pandas as pd

# Run your program from programming exercise Parsing Weather Data to determine the lowest humidity in the file for July 22nd, 2014 (weather-2014-07-22.csv).
df = pd.read_csv('../2014/weather-2014-07-22.csv')
lower_time = df[df['Humidity'] == df['Humidity'].min()]['TimeEDT']
lower_time

21    4:51 PM
22    5:51 PM
Name: TimeEDT, dtype: object

In [17]:
s_temperature = df[df['TemperatureF']== df['TemperatureF'].max()]['DateUTC']
s_temperature

4387    2013-06-13 18:51:00
4388    2013-06-13 19:51:00
5370    2013-07-16 19:51:00
5371    2013-07-16 20:51:00
5372    2013-07-16 21:51:00
6038    2013-08-10 18:51:00
Name: DateUTC, dtype: object

In [41]:
# Run your program from programming exercise Parsing Weather Data to determine the lowest humidity reading in 2013.
df = pd.read_csv('../2013/combined_csv.csv')
lower_time = df[df['Humidity'] == df['Humidity'].min()]['TimeEDT']
lower_time

1834     5:51 PM
2078     6:51 PM
2083    11:51 PM
2084    12:51 AM
2086     2:51 AM
Name: TimeEDT, dtype: object

In [54]:
# .Pergunta 9
#Run your program from programming exercise Parsing Weather Data to determine the average temperature in Fahrenheit for those temperature readings when the humidity is greater than or equal to 80 on September 2, 2013 (weather-2013-09-02.csv).
df = pd.read_csv('weather-2013-09-02.csv')
mean = df[df['Humidity'] >= 80]['TemperatureF'].mean()
mean

72.59375

In [55]:
df = pd.read_csv('../2013/combined_csv.csv')

In [57]:
df[df['TemperatureF'] == df['TemperatureF'].min()]

      TimeEST  TemperatureF  Dew PointF  Humidity  ...     Conditions  WindDirDegrees              DateUTC TimeEDT
598   5:51 AM          19.0         8.1        62  ...  Partly Cloudy               0  2013-01-23 10:51:00     NaN
599   6:51 AM          19.0         9.0        65  ...          Clear               0  2013-01-23 11:51:00     NaN
600   7:51 AM          19.0        10.0        68  ...  Partly Cloudy               0  2013-01-23 12:51:00     NaN
8863  5:51 AM          19.0        10.9        71  ...  Partly Cloudy               0  2013-11-25 10:51:00     NaN
8864  6:51 AM          19.0        12.0        74  ...  Partly Cloudy               0  2013-11-25 11:51:00     NaN

[5 rows x 15 columns]